{{ define "main" }}
<div class="blog-list-page">
  <div class="section-header">
    <div class="section-title">{{ .Title }}</div>
    <div class="section-number">ALL POSTS</div>
  </div>
  <div class="blog-list-entries">
    {{ range .Pages }}
    <a class="blog-list-entry" href="{{ .RelPermalink }}">
      <div class="blog-meta">
        <span class="blog-date">{{ .Date.Format "2006.01.02" }}</span>
        {{ with .Params.tag }}<span class="blog-tag">{{ . }}</span>{{ end }}
      </div>
      <h3>{{ .Title }}</h3>
      {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
      <span class="blog-arrow">&rarr;</span>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
