<article class="hentry">
    <div class="card-quadrado h-100">

        <div class="card-quadrado-header">
            <h2 class="entry-title"> About </h2>
        </div>
        <div class="card-quadrado-body">
            <img src="{{ SITEURL }}/theme/images/about-me/about-henrique-jose-correia-zanoli.jpg"
                 class="img-fluid rounded-circle mb-4" alt="Picture of author">
            <div class="h4 text-dark mb-3 d-flex me-n5 ms-n4 ps-4 pt-2 pb-2 bg-accent"> {{ AUTHOR }}</div>
            <div class="h5 text-light ps-5 mb-3 ms-n5 pe-4 pt-2 pb-2 bg-primary">{{ AUTHOR_HEADLINE }}</div>
            <div class="mb-3">{{ AUTHOR_SUMMARY }}</div>
            <div>
                <a href="{{ SITEURL }}/pages/about.html" class="btn btn-card-quadrado float-md-end">&rarr; CV & more</a>
            </div>
        </div>
    </div>
</article>